@media only screen and (min-width: 376px) {
    main {
        box-shadow: 10px 10px 50px var(--Verydarkdesaturatedblue);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        width: 1045px;
        height: 530px;
        margin: 20px;
    }

    main .images {
        width: 50%;
    }

    main .images .imagesContainer {
        position: relative;
        overflow: hidden;
    }

    main .images .imagesContainer .woman {
        margin-left: -85px;
    }

    main .images .bg-pattern {
        position: absolute;
        top: -560px;
        left: 370px;
    }

    main .images .positions {
        position: relative;
    }

    main .images .box {
        position: absolute;
        top: 135px;
        left: -95px;
    }

    main .faq {
        width: 50%;
    }

    main .faq h1 {
        color: var(--Verydarkdesaturatedblue);
        font-size: 2.2rem;
    }

    main .faq ul {
        list-style: none;
        width: 80%;
    }

    main .faq ul li {
        border-bottom: 1px solid var(--Lightgrayishblue);
    }

    .collapsible span {
        color: var(--Verydarkgrayishblue);
        font-size: 1.2rem;
        display: block;
        margin-bottom: 20px;
    }
}