@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import './css/desktop.css';
@import './css/mobile.css';

:root {
    /*Text*/
    --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
    --Softred: hsl(14, 88%, 65%);
    --Verydarkgrayishblue: hsl(237, 12%, 33%);
    --Darkgrayishblue: hsl(240, 6%, 50%);

    /*Dividers*/
    --Lightgrayishblue: hsl(240, 5%, 91%);

    /*Gradient*/
    --Softviolet: hsl(273, 75%, 66%);
    --Softblue: hsl(240, 73%, 65%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: none;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background: linear-gradient(0deg, var(--Softblue), var(--Softviolet));
}

.collapsible {
    cursor: pointer;
    border: none;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0px 0;
}

.selected {
    font-weight: 700;
}

.collapsible :hover {
    color: var(--Softred);
    font-weight: 700;
}

.collapsible img {
    width: 15px;
    height: 15px;
}

.arrow {
    transition: all 0.2s ease-out;
}

.rotate {
    transform: rotate(180deg);
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: white;
}